@tailwind base;
@tailwind components;
@tailwind utilities;


.blogAreaInner {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0px;
}

.blogAreaInner:has(.w32)::after {
    /* :has()疑似クラスとは、指定した要素がある場合にのみスタイルを適用できるCSS 2023/12月で全てのブラウザに対応された*/
    content: "";
    width: 32%;
}

.inner {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}